extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each elem in videos
        li
            span.title #{elem.title}
            span  - 
            a.link(href='#{elem.link}') #{elem.link}
